# Logs
*.log
backend_debug.log

# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/

# Alembic
alembic/versions/*.pyc

# Temporary files
/tmp/

# Extensions
extensions/backend/
extensions/frontend/

# Test artifacts
*.zip

# IDE files
.vscode/
.idea/
